<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<div th:replace="~{fragment :: meta}"></div>
		<div th:replace="~{fragment :: styles}"></div>

    	<title>本日のタスク</title>
	</head>
	<body>
		<div class="edelweiss-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<main>
			<div class="container pt-4 pb-5 edelweiss-container">
				<div class="page" th:data-date="${date}">
					<!-- ナビゲーション（前日・翌日） -->
					<a class="nav" th:href="@{/tasks/{d}(d=${#temporals.format(dateObj.minusDays(1), 'yyyy-MM-dd')})}">&lt;</a>
					<input class="date-input" type="date" th:value="${date}" id="datePicker"/>
					<a class="nav" th:href="@{/tasks/{d}(d=${#temporals.format(dateObj.plusDays(1), 'yyyy-MM-dd')})}">&gt;</a>
					
					<h3 class="title">本日のタスク</h3>
					
			       <div th:if="${#lists.isEmpty(tasks)}" class="text-muted small">タスクはありません</div>
			       <!-- 未達成タスク -->
					<h5>★未達成タスク</h5>
					<table border="1">
    					<thead>
        					<tr>
            					<th>タイトル</th>
            					<th>ステータス</th>
            					<th>累計達成日数</th>
            					<th>連続達成日数</th>
        					</tr>
    					</thead>
    					<tbody>
        					<tr th:each="task : ${incompleteTasks}">
            					<td th:text="${task.title}"></td>
            					<td th:text="'未完了'"></td>
            					<td th:text="${totalCompletedDays}"></td>
            					<td th:text="${consecutiveCompletedDays}"></td>
        					</tr>
    					</tbody>
					</table>
					<!-- 達成済タスク -->
					<h5>★達成済タスク</h5>
					<table border="1">
    					<thead>
        					<tr>
            					<th>タイトル</th>
            					<th>ステータス</th>
            					<th>累計達成日数</th>
            					<th>連続達成日数</th>
        					</tr>
    					</thead>
    					<tbody>
        					<tr th:each="task : ${completeTasks}">
            					<td th:text="${task.title}"></td>
            					<td th:text="'完了'"></td>
            					<td th:text="${totalCompletedDays}"></td>
            					<td th:text="${consecutiveCompletedDays}"></td>
        					</tr>
    					</tbody>
					</table>
    			</div>
			</div>
		</main>

    	<!-- 追加ボタン -->
    	<a th:href="@{/tasks/new(date=${date})}" class="floating-add-btn">+</a>

        <div th:replace="~{fragment :: footer}"></div>
        <div th:replace="~{fragment :: scripts}"></div>
        </div>
	</body>
</html>   