<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="~{fragment :: meta}"></div>
  <div th:replace="~{fragment :: styles}"></div>
  <title>タスク新規作成・編集</title>
</head>
<body>
<div class="edelweiss-wrapper">
  <div th:replace="~{fragment :: header}"></div>

  <main>
    <div class="container pt-4 pb-5 edelweiss-container">
      <h3 class="title mb-4" th:text="${isEdit} ? 'タスク編集' : 'タスク新規作成'"></h3>

      <form th:action="${isEdit} ? @{'/tasks/update/' + ${taskId}} : @{/tasks}" th:object="${taskForm}" method="post" class="row g-3">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="col-12 col-md-6">
        	<label class="form-label">日付</label>
        	<input type="date" th:field="*{logDate}" class="form-control"/>
        	<div class="text-danger small" th:errors="*{logDate}"></div>
        </div>
        
        <div class="col-12">
        	<label class="form-label">タスク名</label>
        	<input type="text" th:field="*{title}" class="form-control" placeholder="例）読書"/>
        	<div class="text-danger small" th:errors="*{title}"></div>
        </div>
        
        <div class="col-12">
    		<label class="form-label">ステータス</label><br>
    		<input type="radio" th:field="*{status}" value="false" /> 未完了
    		<input type="radio" th:field="*{status}" value="true" class="ms-3"/> 完了
    		<div class="text-danger small" th:errors="*{status}"></div>
  		</div>

        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary" th:text="${isEdit} ? '更新' : '登録'"></button>
    		<a th:href="@{'/tasks/' + ${taskForm.logDate}}" class="btn btn-outline-secondary ms-2">戻る</a>
  		</div>
	  </form>
    </div>
  </main>
  
  <div th:replace="~{fragment :: footer}"></div>
  <div th:replace="~{fragment :: scripts}"></div>
</div>
</body>
</html>