<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<div th:replace="~{fragment :: meta}"></div>
		<div th:replace="~{fragment :: styles}"></div>

    	<title>ログイン</title>
	</head>
	<body>
		<div class="edelweiss-wrapper">
		<div th:replace="~{fragment :: header}"></div>
            <!-- Login Form -->
            <main>
				<div class="container pt-4 pb-5 edelweiss-container">
                   <div class="row justify-content-center">
                       <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 mb-4">
                           <h1 class="mb-4 text-center">ログイン</h1>   	
                			<!-- Error Message -->
                			<div th:if="${param.error}" class="alert alert-danger">
                    			ユーザー名またはパスワードが正しくありません
                			</div>

							<form th:action="@{/login}" method="post">
                				<!-- Email Input -->
                				<div class="form-group mb-3">
                    				<label for="username" class="form-label">メールアドレス</label>
                    				<input type="email" class="form-control" id="username" name="username" placeholder="email@example.com">
                				</div>

                				<!-- Password Input -->
                				<div class="form-group mb-3">
                    				<label for="password" class="form-label">パスワード</label>
                    				<input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力">
                				</div>

                				<!-- Login Button -->
                				<button type="submit" class="btn btn-primary w-100 mb-3">
                    				ログイン
                				</button>
            				</form>
            				<!-- Sign Up Link -->
            				<div class="d-flex flex-column align-items-center">
                				<div class="signup-link">
                    				アカウントをお持ちでない方
                    				<a class="ms-2" th:href="@{/signup}">新規登録</a>
                				</div>               				
                			</div>
                         </div>
        			</div>
        		</div>
    		</main>
        	<div th:replace="~{fragment :: footer}"></div>
        </div>
        <div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>     